.hero-content {
	position: relative; /* positioning will be explained in a resource */
	min-height: 400px; /* hero content element must be _at least_ 600 pixels */
	background-image: url(../assets/images/bloc_jams_bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.hero-content .hero-title {
	position: absolute;
	top: 40%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 100%;
	text-align: center;
	font-size: 4rem;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 0.5rem;
	text-shadow: 1px 2px 0px rgb(58,23,63);
}

.ion-music-note,
.ion-radio-waves,
.ion-iphone {
	color: rgb(233,50,117);
	font-size: 5rem;
	-webkit-transition: font-size 0.5s ease-in-out;
	-moz-transition: font-size 0.5s ease-in-out;
	transition: font-size 0.5s ease-in-out;
}

.ion-music-note:hover,
.ion-radio-waves:hover,
.ion-iphone:hover{
	font-size: 8rem;
}

.selling-points {
	position: relative;
}

.point {
	position: relative;
	padding: 2rem;
	width: inherit;
	text-align: center;
	margin: auto;

	-webkit-transform: scaleX(0.9) translateY(0.5rem);
	-moz-transform: scaleX(0.9) translateY(0.5rem);
	transform: scaleX(0.9)  scaleY(0.9) translateY(0.5rem);

	-webkit-transition: width 2.5s ease-in-out 0s;
	-moz-transition: width 2.5s ease-in-out 0s;
	transition: width 2.5s ease-in-out 0s;

	animation: all 7s ease-in-out 0s 1;
}

@keyframes all {
	0% {
		background-color: rgb(58,23,63);
		top: 0px;
		color: white;
	}
	40%{
		background-color: #FFF;
		color: rgb(233,50,117);
		top: 100px;
		transform: scale(0.45);
	}
	100%{
		background-color: rgb(58,23,63);
		color: white;
		top: 0px;
	}
}

.point .point-title {
	font-size: 1.5rem;
}